name: Deploy MkDocs

on:
  push:
    branches:
      - main
      - dev

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0 # required for mike
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.25"
      - name: Set up Python
        run: uv python install 3.13
      - name: Install dependencies
        run: |
          uv sync --extra docs
          uv pip install -e .
      - name: Build and deploy docs
        run: |
          VERSION=$(uv run isofit --version)
          if [[ "${GITHUB_REF_NAME}" == "main" ]]; then
            uv run mike deploy --push --update-aliases "$VERSION" latest
            uv run mike set-default --push latest
          else
            uv run mike deploy --push dev
          fi
