name: Deploy MkDocs [main]

on:
  push:
    branches:
      - main
      - dev

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Configure git
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          ref: main
          fetch-depth: 0 # required for mike
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.25"
      - name: Set up Python
        run: uv python install 3.13
      - name: Install dependencies
        run: |
          uv sync --extra docs
          uv pip install -e .
      - name: Build and deploy docs
        run: |
          VERSION=$(uv run isofit --version)
          uv run mike deploy --push --update-aliases "$VERSION" latest
          uv run mike set-default --push latest
